body{
	background-color: grey;
}
form{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.container{ 	
	display: inline-block;
	width: 100%;
	margin:50px auto;
}
input{	
	margin-bottom: 10px;
	border-radius: 5px;
	word-break: keep-all;
}
